# Archivos de entorno virtual
venv/
env/
*/pyvenv.cfg
*/lib/
*/share/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración y entornos locales
.env
.vscode/
.idea/

# Archivos de Jupyter
.ipynb_checkpoints

# Archivos de sistema
.DS_Store
Thumbs.db

